<tr>
  <td align="center" style="height: 40px; border-bottom: 1px solid #e2e8f0">
    <a href="https://www.instagram.com/veganharita/" target="_blank" style="text-decoration: none;">
      <%= image_tag(attachments['instagram.png'].url, alt:"instagram", title: "Instagram", style:"width: 25px; height: auto; vertical-align: middle; border: 0;") %>
    </a>
    <a href="https://veganharita.com/contact" target="_blank" style="text-decoration: none;">
      <%= image_tag(attachments['envelope.png'].url, alt:"contact", title: "Contact", style:"width: 25px; border: 0; vertical-align: middle; text-decoration: none") %>
    </a>
  </td>
</tr>
<tr style="height: 40px">
  <td align="center" style="border-top: 1px solid #e2e8f0">
    <a href="https://veganharita.com/" target="_blank" style="margin: 0; text-decoration: none; color: #000e06; font-size: 14px">veganharita.com</a>
  </td>
</tr>
