<tr>
  <td align="center">
    <a href="https://veganharita.com/" target="_blank" style="text-decoration: none;">
      <%= image_tag(attachments['logo.png'].url, alt: 'logo', style:"max-width: 140px") %>
    </a>
  </td>
</tr>