<div id="product-form-container" class="bg-dark-green">
  <%= link_to :back, class: "arrow" do %>
    <%= image_tag "back-icon.svg" %>
  <% end %>
  <h1 class="page-title medium-font bold yellow">Ürün Ekle</h1>
  <div>
  <%= render "form", menu: @menu %>
  </div>
</div>



