<% @pending_places.where(contributors: [user.id]).each do |place| %>
<thead>
  <tr>
    <th>Mekanın Adı</th>
    <th>Adres</th>
    <th>Vegan mı?</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= place.name %></td>
    <td><%= place.address %></td>
    <td><%= place.vegan %></td>
  </tr>
</tbody>
<% end %>
