<h1>Editing post comment</h1>

<%= render "form", post_comment: @post_comment %>

<br>

<div>
  <%= link_to "Show this post comment", @post_comment %> |
  <%= link_to "Back to post comments", post_comments_path %>
</div>
