<main id="dashboard">
  <div class="heading d-flex">
    <% @places.each do |place| %>
      <%= link_to navigation_path(place), data: { turbo_frame: "navigation" } do %>
        <h1><%= place.name %></h1>
      <% end %>
    <% end %>
  </div>
  <div class="navigation">
    <turbo-frame id="navigation", src="<%= navigation_path(@places.first) %>">
    </turbo-frame>
  </div>
</main>