<%= turbo_frame_tag "navigation" do %>
  <%= link_to summary_path(@place), data: { turbo_frame: "content" } do %>
    <h2>Genel Durum</h2>
  <% end %>
  <%= link_to feedback_path(@place), data: { turbo_frame: "content" } do %>
    <h2>Yorumlar</h2>
  <% end %>
  <div class="content">
    <turbo-frame id="content" src="<%= summary_path(@place) %>">
    </turbo-frame>
  </div>
<% end %>
