<div data-controller="slider" class="slider bg-dark-green">
  <div class="slider-container">
    <% images.each do |image| %>
      <%= image_tag cdn_proxy_url(image), class: "slider-image", data: { slider_target: "image" } %>
    <% end %>
    <div class="slide-buttons">
      <span data-action="click->slider#previous"></span>
      <span data-action="click->slider#next"></span>
    </div>
    <div class="slider-number" data-slider-target="number">
    </div>
  </div>
</div>
