<main style="padding: 48px; width: 100%; max-width: 800px; margin: 0 auto;" >
<h1>Kullanıcı Sözleşmesi</h1>
<span> Son güncellenme: 30/12/2023 </span>
<br><br>
<h2>Web Sitesi Kullanımı</h2>
<p>Bu web sitesini kullanarak, bu kullanıcı sözleşmesini ve gizlilik politikasını kabul etmiş sayılırsınız.</p>
<br>
<h2>İçerik Paylaşımı</h2>
<p>Web sitesi üzerinden yapılan içerik paylaşımlarında yasa dışı, ahlaki olmayan veya rahatsız edici içeriklere izin verilmez. İhlal durumunda, içeriğin kaldırılması ve üyeliğin sonlandırılması hakkına sahibiz.</p>
<br>
<h2>Telif Hakkı Bildirimi</h2>
<p>Kullanıcı, bu web sitesi üzerinden paylaştığı her türlü içerikle ilgili olarak, içeriğin tüm telif haklarına sahip olduğunu beyan eder.</p>

<p>Telif hakkına tabi içeriklerin paylaşılması durumunda, kullanıcı, içeriğin kullanımı, çoğaltılması, dağıtılması ve diğer her türlü kullanım hakkını web sitesine tanıdığını kabul eder.</p>

<p>Web sitesi işletmecisi, telif hakkına tabi içeriklerin kullanımı nedeniyle ortaya çıkabilecek yasal sorumluluklardan doğan tüm maliyetleri ve yükümlülükleri kabul etmez. Kullanıcı, telif hakkı ihlali durumunda web sitesi işletmecisini bu tür durumları bildirme ve içerikleri kaldırma konusunda bilgilendirme yükümlülüğüne sahiptir.</p>

<p>Web sitesi işletmecisi, telif hakkına tabi içerikleri inceleme ve gerektiğinde kaldırma hakkını saklı tutar. Telif hakkı ihlali durumunda içerik hızlı bir şekilde kaldırılacaktır.</p>

<p>Web sitesi işletmecisi, telif hakkına tabi içeriklerin paylaşılmasından kaynaklanan herhangi bir hukuki süreçte kullanıcıyı desteklemekle yükümlü değildir.</p>
<br>
<h2>Gizlilik</h2>
<p>Kullanıcı bilgileriniz gizli tutulacaktır. Ancak, web sitesi işletmecisi olarak yasa ve düzenlemelere uymak amacıyla, belirli bilgilerinizi yetkili makamlarla paylaşma hakkına sahibiz.</p>
<br>
<h2>Sorumluluk Reddi</h2>
<p>Web sitesindeki içeriklerin doğruluğu ve güncelliği konusunda herhangi bir garanti vermemekteyiz. Kullanıcılar, kendi riskleri altında bilgiye güvenmelidir.</p>
<br>
<h2>Değişiklikler</h2>
<p>Bu kullanıcı sözleşmesi zaman zaman değiştirilebilir. Güncellemeleri takip etmek kullanıcının sorumluluğundadır.</p>
</main>
