<div id="<%= dom_id product_sub_category %>">

  <p>
    <strong>Name_EN:</strong>
    <%= product_sub_category.name_en %>
  </p>
  <p>
    <strong>Name_TR:</strong>
    <%= product_sub_category.name_tr %>
  </p>
  <p>
    <strong>Product Category:</strong>
    <%= product_sub_category.product_category.name %>
  </p>

</div>
