<h1>New product sub category</h1>

<%= render "form", product_sub_category: @product_sub_category %>

<br>

<div>
  <%= link_to "Back to product sub categories", admin_product_sub_categories_path %>
</div>
