<div id="<%= dom_id product_category %>">
  <p>
    <strong>Name_EN:</strong>
    <%= product_category.name_en %>
  </p>
  <p>
    <strong>Name_TR:</strong>
    <%= product_category.name_tr %>
  </p>
</div>
