/* navigation links */
.nav-admin-link {
  padding: 17.5px 30px;
}

.pending {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  padding-bottom: 24px;
}

.pending ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.pending-edit {
  display: flex; 
}

.pending-edit ul {
  width: 40vw;
}

.pending-place {
  display: flex;
}

.edit-divider {
  width: 80vw;
  border: 1px solid var(--green);
  margin: 15px 0;
}

.place-divider {
  width: 80vw;
  border: 1px solid var(--pinkish);
  margin: 15px 0;

}

.edit-divider:last-child, .place-divider:last-child {
  display: none;
}