.nav-admin-link {
  font-size: 18px;
}

.pending {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: calc(100vw - 40px);
  align-items: center;
  margin: auto;
}

.pending h2 {
  text-align: center;
  padding: 16px 0;
  font-weight: 500;
}

.pending article {
  width: calc(100vw - 40px);
}

.pending-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  max-width: 572px;
}

.pending-item li {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.pending-item span {
  font-weight: 500;
}

.approve-btn {
  border: 1px solid var(--black);
  height: 20px;
  padding: 0 7px;
  background-color: var(--dark-green);
  color: var(--beige);
}

.reject-btn {
  border: 1px solid var(--black);
  height: 20px;
  padding: 0 7px;
  background-color: var(--brown);
  color: var(--beige);
}
