/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --green: #01da5a;
  --black: #000;
  --white: #fff;
  --gray: #989e9a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: General Sans, sans-serif;
}

@font-face {
  font-family: "General Sans";
  src: url("GeneralSans.ttf");
}

h2 {
}

a {
  color: var(--black);
  text-decoration: none;
}

.user-forms {
  font-size: 24px;
  font-weight: 500;
}

.user-forms h2 {
  font-size: 24px;
  font-weight: 500;
}

.field {
}

.field label {
  font-size: 14px;
  font-weight: 400;
}

.field input {
}

.field input[type="email"],
input[type="password"] {
}

::placeholder {
  font-size: 20px;
  line-height: 25px;
  color: var(--black);
}

.session-links-container {
}

@media (min-width: 1024px) {
  body {
    min-height: 100vh;
  }

  .user-forms h2 {
  }

  .field input {
  }
}
