/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Clash Display Variable, sans-serif;
}

@font-face {
  font-family: "Clash Display Variable";
  src: url("ClashDisplay-Variable.ttf");
}

body {
  border: 2px solid #243e2e;
}

.user-forms {
  background-color: #a7d4bc;
  padding-top: 27px;
  height: calc(100vh - 61px);
}

.user-forms h2 {
  margin-top: 33px;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  text-align: center;
  color: #262626;
  margin-bottom: 20px;
}

.arrow {
  width: 26px;
  margin: 20px 0 0 21px;
  position: absolute;
}

.large-font {
  font-size: 32px;
}

.medium-font {
  font-size: 20px;
}

.small-font {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .user-forms h2 {
    margin-top: 100px;
  }

  .field input {
    width: 300px;
  }

  .arrow {
    margin: 20px 0 0 50px;
  }
}
