/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --green: #01da5a;
  --black: #000;
  --white: #fff;
  --gray: #989e9a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: General Sans, sans-serif;
}

@font-face {
  font-family: "General Sans";
  src: url("GeneralSans.ttf");
}

a {
  color: var(--black);
  text-decoration: none;
}

.user-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}

.user-forms h2 {
  font-size: 24px;
  font-weight: 500;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.field label {
  font-size: 14px;
}

.field input {
  width: 240px;
  height: 42px;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  background: var(--white);
}

.field input[type="email"],
input[type="password"] {
  color: var(--gray);
}

::placeholder {
  color: var(--gray);
}

.session-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.action {
  margin-top: 8px;
}

.actions input {
  width: 240px;
  height: 41.856px;
  border-radius: 20px;
  border: 1px solid var(--gray);
  color: var(--black);
  font-weight: 500;
  background-color: var(--white);
  font-size: 16px;
}

.field input:focus {
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--green);
}

@media (min-width: 1024px) {
  body {
    min-height: 100vh;
  }

  .user-forms {
    margin-top: 127px;
  }
}
