.edit-icon-container {
  position: relative;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-icon-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed var(--green);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotateBorder 10s linear infinite;
}

#change_log_images {
  color: transparent;
}

#change_log_images::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}

#change_log_images::before {
  content: attr(data-content);
  color: var(--black);
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 0.188rem 0.563rem 0.188rem 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.313rem;
  border: 0.006rem solid var(--black);
  background: var(--white);
  width: 5.625rem;
  height: 1.563rem;
}

.modal-social-group span {
  top: 24px;
}

#upload-edit-btn {
  position: absolute;
  left: 114px;
  bottom: 11px;
  font-size: 14px;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.delete-icon-container {
  margin-left: 10px;
}

.delete-icon-container::before {
  border: 1px dashed var(--red);
}

.form-buttons .submit-button {
  width: 118px;
}
