#avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80px;
  margin: auto;
}

#avatar-img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

#user_avatar {
  border: none;
}

#user_avatar::before {
  content: "";
  background: url("camera.svg") no-repeat right bottom;
  width: 80px;
  height: 80px;
  border-radius: 0;
  position: absolute;
  bottom: 2px;
  right: 0;
  border: none;
}

#edit_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
}

#user_password_confirmation,
#user_current_password {
  width: 240px;
}

#update-button {
  color: var(--white);
  font-weight: 500;
  background: var(--green);
  border: none;
}
