#avatar-container {
  position: relative;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: auto;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

#user_avatar {
  border: none;
  width: 0;
  padding: 0;
  color: transparent;
}

#user_avatar::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}

#user_avatar::before {
  content: "";
  background: url("camera.svg") no-repeat right bottom;
  width: 80px;
  height: 80px;
  border-radius: 0;
  position: absolute;
  bottom: 2px;
  right: 0;
  border: none;
}

#edit_user {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
}

#user_password_confirmation,
#user_current_password {
  width: 240px;
}

#owner-panel {
  background-color: var(--green);
  height: 42px;
  width: 240px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#owner-panel span {
  color: var(--white);
  font-weight: 500;
}

#cancel-button {
  background-color: var(--red);
  border: none;
  color: var(--white);
  width: 15rem;
  height: 2.625rem;
  border-radius: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
}

#notification-check {
  & legend {
    font-size: 14px;
  }
  & .form-group {
    display: flex;
    flex-direction: row-reverse;
  }
  border: none;
}
