#last-added-places-container {
  background-color: #e5dccf;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 2px solid #243E2E;


}

#last-added-places-container h3 {
  width: 340px;
  font-size: 32px;
  font-weight: 400;
  background-color: #A94C2E;
  padding: 11px 22px;
  /* border: 2px solid #243E2E */
  height: 58px;

     border-right: 2px solid #243E2E;
}

#last-places-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  column-gap: 10px;
  width: calc(100% - 340px);
  


  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}


/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.place-card {
display: block;
text-decoration: none;
color: black;
}
