@font-face {
  font-family: "Clash Display Variable";
  src: url("ClashDisplay-Variable.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clash Display Variable", sans-serif;
}

body {
  background-color: #a7d4bc;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  text-align: center;
  color: #262626;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
