@font-face {
  font-family: "Clash Display Variable";
  src: url("ClashDisplay-Variable.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clash Display Variable", sans-serif;
}

body {
  background-color: #a7d4bc;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  text-align: center;
  color: #262626;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

#new_user {
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 225px;
}

.field {
  margin-bottom: 10px;
}

.field label {
  height: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #262626;
}

.field input {
  /* width: 100%; */
  width: 225px;
  height: 30px;
  background-color: #e5dccf;
  border: 1px solid #262626;
}

::placeholder {
  padding-left: 6px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.remember {
  border: 1px dotted red;
  width: 100%;
  display: flex;
  float: left;
}

#user_remember_me {
  height: 20px;
  width: 20px;
  appearance: none;
  margin-right: 4px;
}

#new_user .actions button {
  height: 60px;
  width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a94c2e;
  border: 2px solid #262626;
}

/* apply 8px margin right to icon on button above */

.session-icon {
  margin-right: 8px;
}

.session-text {
  font-family: Clash Display Variable;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #e5dccf;
}

.session-links-container {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-links {
  border: 1px dotted white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
}
