#new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
  /* width: 240px; */
}

#remember {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 240px;
}

#user_remember_me {
  width: 20px;
  height: 20px;
}

#login-button {
  color: var(--white);
  font-weight: 500;
  background: var(--green);
}

@media (min-width: 1024px) {
  .remember {
  }
}
