#map {
  height: calc(100vh - 59px);
  width: 100vw;
  border-width: 0 2px 2px 2px;
  border-color: #243e2e;
  border-style: solid;
}

.custom-map-control-button {
  margin: 10px;
  height: 48px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
