#map {
  height: calc(100vh - 60px);
  width: 100vw;
}

/* Customizing place infoWindow */
.info-window-image {
  width: 100px;
  height: 100px;
}

.info-window {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/* Customizing find me button */
.custom-map-control-button {
  margin-right: 10px;
  height: 48px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#custom-zoom-controller-container {
  margin-right: 10px;
}

#location-button {
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  #map {
    height: calc(100vh - 120px);
  }
}
