.map-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#map {
  /* stylelint-disable unit-no-unknown */
  /* height: calc(100dvh - 60px); */
  /* stylelint-enable unit-no-unknown */
  width: 100vw;
  height: 100dvh;
}

#map:focus {
  outline: none;
}

.gm-ui-hover-effect {
  display: none !important;
}

/* Blue border when click on the map issue */
.gm-style iframe + div {
  border: none !important;
}

/* Customizing advanced marker */
.marker-container {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 25px;
  padding: 5px 11px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 20px 0;
}

.mini-vegan-icon {
  box-shadow: 0 0 0 0 rgb(1, 218, 90);
  border-radius: 50%;
  transform: scale(1);
  animation: pulse 2s 2;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(1, 218, 90);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.marker-name {
  font-size: 1rem;
  color: var(--black);
}

/* Customizing place infoWindow */
.info-window {
  display: flex;
  flex-direction: column;
  height: auto;

  & h3 {
    margin-bottom: 0;
  }

  & p {
    font-size: 1rem;
  }
}

.info-window-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.info-window-heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.place-status {
  position: relative;
  display: flex;
  justify-content: center;
}

.place-open-true {
  filter: grayscale(0);
}

.place-open-false,
.place-open-undefined {
  filter: grayscale(1);
}

.status-text {
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
}

/* Customizing find me button */
.custom-map-control-button {
  margin-right: 1.25rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#custom-zoom-controller-container {
  margin-right: 1.25rem;
}

#location-button {
  margin-bottom: 1.875rem;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#location-button.loading {
  animation: fadeInOut 2s linear infinite;
}

@media (min-width: 1024px) {
  #map {
    height: calc(100vh - 7.5rem);
  }

  .custom-map-control-button {
    margin-right: 3rem;
  }

  #custom-zoom-controller-container {
    margin-right: 3rem;
  }

  .info-window-image {
    max-height: 180px;
  }
}
