header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 0.688rem 1.25rem;
  gap: 1rem;
}

#logo {
  width: 8.25rem;
  height: 2.375rem;
}

#burger {
  display: flex;
  gap: 0.656rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  z-index: 2;
  padding: 0.5rem 0.125rem;
}

#burger span {
  width: 2.375rem;
  height: 0.063rem;
  background-color: #868686;
}

#burger span:nth-child(2) {
  background-color: var(--green);
}

#burger.active {
  position: fixed;
  right: 1.25rem;
  top: 1.125rem;
}

#burger.active span:nth-child(1) {
  transform: translateY(0.313rem) rotate(45deg);
}

#burger.active span:nth-child(2) {
  opacity: 0;
}

#burger.active span:nth-child(3) {
  transform: translateY(-1.125rem) rotate(-45deg);
}

#search-container {
  position: absolute;
  top: 16px;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  width: 100%;
  border-radius: 0 0 0.313rem 0.313rem;
  padding: 0 20px;
}

#search-wrapper {
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

#search-icon {
  width: 1.688rem;
  height: 1.5rem;
}

#search-form {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1.25rem;
}

#search-field {
  width: 100%;
  border: none;
  background: var(--white);
  z-index: 1;
}

#search-field::placeholder {
  font-size: 1.125rem;
  color: var(--gray);
}

#search-field:focus {
  outline: none;
}

#search-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-results-link-container {
  height: auto;
  width: 100%;
  padding: 1rem 1.25rem;
}

.search-results-link {
  text-decoration: none;
  display: block;
}

.search-address {
  font-size: 14px;
  color: var(--gray);
}

nav {
  display: flex;
}

#nav-menu {
  display: none;
}

#nav-menu.active {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.125rem solid var(--dark-green);
  background-color: var(--white);
  z-index: 2;
  padding-top: 5.625rem;
  padding-bottom: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

#add-place-link {
  display: flex;
  align-items: center;
  gap: 0.313rem;
  font-size: 1.125rem;
}

.nav-link {
  height: 42px;
  padding: 8px 16px;
}

.nav-link:last-child {
  margin-top: 50px;
  padding: 0 16px;
}

.vh-instagram a {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 42px;
}

#sign-in-link {
  border-radius: 1.25rem;
  background: var(--green);
  color: var(--white);
  font-weight: 500;
  line-height: 100%;
  padding: 0.813rem 1.313rem;
  font-size: 1.125rem;
  width: max-content;
}

#account-icon {
  display: none;
}

.wrapper {
  margin-top: 80px;
}

.dropdown {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
}

#logout-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.063rem;
  height: 2.625rem;
  border-radius: 1.25rem;
  border: 0.063rem solid var(--gray);
  padding: 0.5rem 1.313rem;
}

#nav-menu.hidden {
  display: none;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
    width: 0;
  }

  header {
    justify-content: space-between;
    padding: 1rem 3rem;
    height: 4.375rem;
  }

  #search-container {
    justify-content: center;
    width: auto;
    width: 40vw;
    padding: 0 0 0 48px;
    left: 0;
  }

  #search-wrapper {
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;
    width: 100%;
  }

  #search-icon {
    width: 1.188rem;
    height: 1.188rem;
  }

  #search-form {
    height: 100%;
  }

  #search-field {
    height: 3.125rem;
    font-size: 1.125rem;
  }

  #search-field::placeholder {
    opacity: 0.8;
    color: var(--gray);
    font-size: 1.125rem;
    font-weight: 400;
  }

  #search-results {
    position: absolute;
    left: 0;
    padding-top: 10px;
    border: none;
    width: 100%;
    background-color: var(--white);
    overflow: scroll;
    max-height: 60vh;
    scrollbar-width: none; /* Firefox */
    top: 40px;
    border-radius: 0 0 30px 30px;
  }

  #search-results::-webkit-scrollbar {
    display: none;
  }

  .search-results-link {
    border: none;
  }

  .search-address {
    font-size: 14px;
  }

  #burger {
    display: none;
  }

  #nav-menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    justify-content: flex-end;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .nav-link span {
    white-space: nowrap;
  }

  .wrapper {
    margin-top: 0;
    position: relative;
    display: inline-block;
  }

  #add-place-link {
    gap: 0.125rem;
  }

  #account-icon {
    display: block;
    border-radius: 50%;
    object-fit: cover;
  }

  .dropdown {
    visibility: hidden;
    transition: visibility 0s linear 0.5s;
    position: absolute;
    right: 0;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    height: 5.25rem;
    z-index: 6;
    gap: 0.5rem;

    & li {
      width: max-content;
      height: 24px;
      padding: 0;
    }
  }

  .dropdown li:nth-child(1) {
    padding: 8px 16px;
  }

  .wrapper:hover .dropdown {
    visibility: visible;
    transition-delay: 0s;
    display: flex;
    align-items: center;
  }

  #logout-link {
    border: none;
    padding: 0;
    justify-content: center;
    width: 100%;
  }

  #logout-icon {
    display: none;
  }

  .nav-link:last-child {
    display: none;
  }
}
