header {
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 0.688rem 1.25rem;
  gap: 1rem;
  position: relative;
  display: none;
}

#desktop-nav {
  display: none;
}

#logo {
  width: 8.25rem;
  height: 2.375rem;
}

/* ↓↓↓ MOBILE NAV MENU ↓↓↓ */
#mobile-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--white);
  border-radius: 30px 30px 0 0;
  padding: 5px 20px;
}

.nav-menu {
  & span {
    font-size: 9px;
    text-align: center;
  }

  display: flex;
  list-style: none;
  justify-content: space-evenly;
  max-width: 400px;
  margin: auto;
}

.nav-link {
  width: 50px;
  height: 50px;
}

.nav-link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.nav-link.active .nav-icon {
  fill: #000e06;
}

.nav-link.active .nav-icon path {
  fill: var(--black);
  stroke: var(--black);
}

.nav-link.active .nav-icon line {
  stroke: var(--black);
}

.nav-icon {
  width: 40px;
  height: 40px;
}

#add-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

#add-options {
  & div {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
  }

  & a {
    background-color: var(--white);
    border: 0.5px solid var(--green);
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 4px;
    border-radius: 8px;
  }

  position: absolute;
  top: -70px;
  width: 100%;
}

.hidden {
  display: none;
}

.account-icon {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

/* ↑↑↑ MOBILE NAV MENU ↑↑↑ */

.search-address {
  font-size: 14px;
  color: var(--gray);
}

#account-links {
  & li {
    width: 50%;
  }

  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  padding-top: 35%;
  list-style-type: none;
  align-items: center;
  gap: 1.125rem;
}

@media (min-width: 1024px) {
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: block;
  }

  header {
    padding: 16px 48px;
    height: 4.375rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--white);
  }

  #search-icon {
    width: 1.188rem;
    height: 1.188rem;
  }

  #search-field::placeholder {
    opacity: 0.8;
    color: var(--gray);
    font-size: 1.125rem;
    font-weight: 400;
  }

  .search-address {
    font-size: 14px;
  }

  .nav-menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    justify-content: flex-end;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0;
    background-color: var(--white);
  }

  #add-icon {
    display: block;
    fill: var(--green);
  }

  .nav-link span {
    white-space: nowrap;
  }

  .nav-icon {
    display: none;
  }

  .nav-menu span {
    font-size: 18px;
  }

  .wrapper {
    margin-top: 0;
    position: relative;
    display: inline-block;
  }

  #add-place-link {
    gap: 5px;
    display: flex;
    width: auto;
    flex-direction: row;
  }

  .dropdown {
    visibility: hidden;
    transition: visibility 0s linear 0.5s;
    position: absolute;
    right: 0;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    height: 5.25rem;
    z-index: 6;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    list-style-type: none;

    & li {
      width: max-content;
      height: 24px;
      padding: 0;
    }
  }

  .wrapper:hover .dropdown {
    visibility: visible;
    transition-delay: 0s;
  }

  #logout-icon {
    display: none;
  }

  #account-links {
    display: none;
  }

  #add-new {
    display: none;
  }
}
