#reset-button {
  height: 60px;
  width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deb35b;
  border: 2px solid #000;
  margin-top: 5px;
  margin-bottom: 17px;
  color: #262626;
  line-height: 25px;
  text-align: left;
}

#reset-page-links #signup-link {
  display: none;
}
