#add-place {
  font-size: 24px;
  font-weight: 500;
}

#add-new-place-form label {
  font-size: 14px;
}

/* old */

#add-new-place {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-new-place-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 400px;
  padding: 0 20px 0 20px;
}

#add-new-place-form div {
  width: 100%;
}

#add-new-place-form .add-new-place-form-group {
  margin-bottom: 15px;
}

#add-new-place-form input[type="text"] {
  width: 100%;
  height: 30px;
  border: 1px solid var(--black);
  padding: 0 5px 0 5px;
}

#add-new-place-form #map {
  width: 100%;
  height: 20vh;
  border: 1px solid var(--black);
  margin-bottom: 15px;
}

/* Style image upload  */
#add-new-place-form #place_images {
  height: 30px;
  width: 100%;
}

#add-new-place-form #place_images::-webkit-file-upload-button {
  visibility: hidden;
}

#add-new-place-form #place_images::before {
  content: "Dosya Seçin";
  display: inline-block;
  background: var(--beige);
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid var(--black);
}

/*  Tags, place edit form */

.tags-form-container {
  height: 160px;
}

.tags-form-container label {
  display: inline-block;
  margin-bottom: 5px;
  background: var(--beige);
  padding: 5px 8px;
}

.tags-form {
  overflow: scroll;
  height: 100px;
}

/* Style image upload  */
#add-new-place-form select {
  width: 100%;
  height: 30px;
  border: 1px solid var(--black);
  padding: 0 5px 0 5px;
}

#add-new-place-form input[type="submit"] {
  width: 120px;
  height: 40px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  border: 1px solid var(--black);
}
