#reset-button,
#reset-password {
  background-color: var(--black);
  border: none;
  color: var(--white);
}

#reset-page-links {
  display: none;
}

#new_user {
  & #signup-link {
    border: none;
  }

  width: 240px;
}