.social-links {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  margin: 13px 10px 12px 10px;
}

.social.disabled {
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.place-details {
  height: 55px;
  padding: 9px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail {
  display: none;
}

#vegan-icon {
  width: 40px;
  height: 38px;
}

#open-icon {
  height: 36.79066467285156px;
  width: 65.29069519042969px;
}

#direction-icon {
  height: 38px;
  width: 33.869564056396484px;
}

#phone-icon {
  height: 38px;
  width: 38px;
}

#menu {
  padding: 27px 20px;
}

#menu-header {
  text-align: center;
  margin-bottom: 19px;
}

#menu-header h1 {
  display: inline-block;
  position: relative;
  line-height: 25px;
}

#add-new-product {
  position: absolute;
  text-decoration: none;
  height: 24px;
  border: 1px solid var(--green);
  padding: 4px 9px 3px 9px;
  margin-left: 5px;
}

.category {
  margin: 0 0 19px 0;
}

.menu-item {
  margin-bottom: 30px;
}

.menu-item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item div:nth-child(2) {
  margin-top: 20px;
}

.name {
  line-height: 25px;
  text-align: left;
}

.price {
  line-height: 25px;
}

.menu-image {
  width: 25vw;
  height: auto;
}

.description {
  line-height: 25px;
  margin-left: 18px;
  width: 100%;
  text-align: left;
}

.tags {
  height: 55px;
  display: flex;
  padding: 11.5px 18px;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tags span {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--yellow);
  padding: 7.5px 9px;
  margin-right: 20px;
}

.tags span:last-child {
  margin-right: 0;
}

@media (min-width: 1024px) {
  .place {
    height: calc(100vh - 70px);
    display: grid;
    grid-template-rows: 59px 55px auto;
    grid-template-columns: 1fr 1fr;
  }

  .place-heading-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #add-new-product {
    font-size: initial;
  }

  .place-details {
    height: 59px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .detail-group {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .detail-link {
    text-decoration: none;
  }

  .detail {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
  }

  .social-links {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .tags {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}
