.map-container > div:first-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 16px;
  z-index: 1;
  padding: 0 20px;
}

#product-index > div:first-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
  position: absolute;
  top: 16px;
  z-index: 1;
  padding: 0 20px;
}

#search-container {
  position: relative;
}

#scanner {
  position: absolute;
  right: 20px;
  height: 48px;
  display: flex;
  align-items: center;
  top: 0;
}

#search-wrapper {
  height: 48px;
}

#search-form {
  width: 278px;
  height: 48px;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  margin: unset;
  border-radius: 30px;
  padding: 8px 20px;
}

#search-field {
  border: none;
}

#search-icon {
  width: 1.688rem;
  height: 1.5rem;
  z-index: 1;
}

#search-field::placeholder {
  font-size: 1.125rem;
  color: var(--gray);
}

#search-field:focus {
  outline: none;
}

#search-results {
  background-color: var(--white);
  border-radius: 30px;
  max-height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 278px;
}

.result-icon {
  width: 24px;
}

.search-result {
  & mark {
    background-color: var(--green);
    color: var(--white);
  }

  height: auto;
  width: 100%;
  padding: 16px 20px;
}

.result-link {
  & div {
    display: flex;
    gap: 4px;
  }
}

.new-link-wrapper {
  display: none;
}

/* desktop */
@media (min-width: 1024px) {
  .map-container > div:first-of-type {
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
  }

  .map-container {
    & #search-form {
      width: 40vw;
    }
  }

  #product-index > div:first-of-type {
    & #search-form {
      border: 0.5px solid var(--gray);
    }

    & .new-link-wrapper {
      border: 0.5px solid var(--gray);
      height: 50px;
      border-radius: 30px;
    }

    position: fixed;
    padding: 16px 48px;
    top: 70px;
    left: 230px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 230px);
    background-color: var(--white);
    height: 64px;
  }

  #product-index {
    padding: 16px 48px 50px 48px;
  }

  .new-link-wrapper {
    & a {
      display: flex;
      gap: 5px;
      background-color: var(--white);
      align-items: center;
      border-radius: 30px;
      height: 48px;
      padding: 0 20px;
    }

    display: block;
  }
}
