.g-recaptcha {
  transform: scale(0.77);
  transform-origin: 0 0;
}

#signup-button {
  color: var(--white);
  font-weight: 500;
  background: var(--green);
  border: none;
}

.select {
  width: 100%;
}

.user-agreement-checkbox-wrapper {
  display: flex;
  font-size: 14px;
  width: 240px;
  align-items: center;
}

.user-agreement-link-wrapper {
  display: flex;
  align-items: center;
}

#user_user_agreement_accepted {
  width: 24px;
  display: inline-block;
  margin-right: 10px;
}

#user_username {
  width: 240px;
}
