.g-recaptcha {
  transform: scale(0.77);
  transform-origin: 0 0;
}

#signup-button {
  color: var(--white);
  font-weight: 500;
  background: var(--green);
  border: none;
}

.select {
  width: 100%;
}
