.slider {
  position: relative;
}

.slider-container {
  display: flex;
  height: auto;
}

.slider-image--hidden {
  display: none;
}

.slider-image {
  width: 100%;
  height: auto;
}

.slide-buttons {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide-button {
  margin: 0 10px;
}
