.slider {
  position: relative;
  width: 100%;
  height: 320px;
}

.slider-container {
  display: flex;
  height: 320px;
  overflow: hidden;
}

.slider-image--hidden {
  display: none;
}

.slider-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.slide-buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.slide-buttons span {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slider-number {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  background-color: var(--black);
  opacity: 0.5;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .slider {
    width: 50%;
    height: 400px;

    .slider-container {
      height: 400px;

      .slider-image {
        height: 400px;
      }
    }
  }

  .slide-buttons {
    width: 100%;
  }
}
