  <div>
    <p>Bu ürün vegandır.</p>
    <p><strong>Name:</strong> <%= product.name %></p>
    <%= link_to "Ürün sayfasına git", product_path(product.slug) %>
  </div>

<button data-action="click->barcode-scanner#rescan">TARA</button>
