<% products&.each do |product| %>
  <div class="search-results-link-container">
    <%= link_to product_path(product.slug), class:"search-results-link" do %>
      <%= highlight(product.name, params[:name_search]) %>
    <% end %>
  </div>
<% end %>
