<% products&.each do |product| %>
  <div class="search-result">
    <%= link_to product_path(product.slug), class:"result-link" do %>
      <%= highlight(product.name, params[:name_search]) %>
    <% end %>
  </div>
<% end %>
