# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/vh-api.iml
/modules/.iml
/dataSources.xml
