<div id="<%= dom_id place %>">

  <% if place.images.attached? %>
    <% place.images.each do |image| %>
      <%= image_tag image, class: "place-image" %>
    <% end %>
  <% end %>

  <div data-controller="slider">
    <div class="slider__container">
      <% place.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [200, 200]),
        class: "slider__image",
        data: {
          target: "slider.image"
        } %>
      <% end %>
    </div>
    <button data-action="click->slider#previous">Previous</button>
    <button data-action="click->slider#next">Next</button>
  </div>

  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>
</div>
