<div id="search-wrapper" data-controller="search" data-search-target="wrapper">
  <%= form_with id:"search-form", url: search_places_path, data: {map_target: "form"}, method: :post do |form| %>
    <%= image_tag "search-icon.svg", id: "search-icon" %>

    <%= form.search_field :name_search,
                      id: "search-field",
                      placeholder: true,
                      autocomplete: "off",
                      data: {
                        action: "input->map#searchPlaces",
                        map_target: "search"
                      }
    %>
  <% end %>

  <div id="search-results" data-search-target="results"></div>
</div>
