<div
  id="map"
  data-map-target="map"
  data-controller="map"
  data-action="google-maps-callback@window->map#initializeMap"
  data-map-assets-value='<%= map_assets %>'
  ></div>
<div id="last-added-places-container">
  <h3> <%= t :last_added %> </h3>
  <div id="last-places-list">
    <% @last_ten_places.each do |place| %>
      <%= link_to "#{place.name}", place_path(place), class: "place-card" %>
    <% end %>
  </div>
</div>
