<div
  id="map"
  data-map-target="map"
  data-controller="map"
  data-action="google-maps-callback@window->map#initializeMap"
></div>

<div id="last-added-places-container" class="bg-beige">
<h3 class="large-font bg-brown beige">Son Eklenen Yerler</h3>

<div id="last-places-list">
  <% Place.last_ten.each do |place| %>
        <%= link_to "+#{place.name}", place_path(place), class: "place-card dark-green" %>
    <% end %>
  </div>
</div>
