<div class="page-heading-container">
  <%= link_to :back, class: "arrow" do %>
    <%= image_tag "back-icon.svg" %>
  <% end %>
  <h1 class="page-title medium-font bold" id="add-new-place-form-title">Yer Ekle</h1>
</div>

<div id="add-new-place">
  <%= render "form", place: @place %>
</div>
