<h1>New place</h1>

<%= render "form", place: @place %>

<br>

<div>
  <%= link_to "Back to places", places_path %>
</div>

<div id="map" data-controller="place" data-place-api-value= "<%= Rails.application.credentials.google_maps[:api_key] %>"
></div>
