<div class="page-heading-container bg-dark-green">
  <h1 class="page-title medium-font bold beige" id="add-new-place-form-title">Yer Ekle</h1>
</div>

<div id="add-new-place" class="bg-dark-green">
  <%= render "form", place: @place %>
</div>
